:root{
    --primary-color: #ec8138;
    --background-color: #222;
    --light-down-color: rgba(255, 255, 255, .4);
    --light-color: #FFF;
    --scalar-countdown-display: #EEEEEE;
    --label-countdown-display: #EDEDED;
    --title-container-height: 20%;
    --holiday-selector-container-height: 10%;
    --countdown-container-height: 50%;
    --footer-container-height: 20%;
}
/*  - laranja legal */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    color: var(--light-color);
}

.container{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.countdown-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--countdown-container-height);
    width: 100vw;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 20px;
    border: var(--light-down-color) solid 5px;
    border-radius: 50%;
}

.box:nth-child(1){
    border-left-color: var(--primary-color);
}
.box:nth-child(2){
    border-top-color: var(--primary-color);
}
.box:nth-child(3){
    border-right-color: var(--primary-color);
}
.box:nth-child(4){
    border-bottom-color: var(--primary-color);
}

.countdown-display{
    color: var(--scalar-countdown-display);
    font-size: 2rem;
}

.display-label{
    color: var(--label-countdown-display);
    margin: 3px;
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--title-container-height);
    width: 100%;
    text-transform: uppercase;
}

.title-container h1{
    font-size: 2rem;
}

.holiday-selector-container{
    display: flex;
    justify-content: center;
    align-items: start;
    height: var(--holiday-selector-container-height);
    width: 100%;
}

.holiday-selector-container #holiday-selector{
    width: 300px;
    height: 70%;
    text-align: center;
}

.holiday-selector-container #holiday-selector{
    width: 300px;
    height: 70%;
    background-color: transparent;
    color: var(--light-color);
    border: var(--primary-color) solid 2px;
    text-align-last: center;
}

.holiday-selector-container #holiday-selector .option:focus{
    border: inherit;
}

.footer-container{
    height: var(--footer-container-height);
}
